.div_inscrire{
    
	height:590px;
	box-shadow:5px 0px 5px 0px #E5E4E2;
	position:relative;
	left:400px; 
	width:700px;
}

label{
	color:rgba(110, 66, 60, 1);
	clear:left;
	text-align: right;
	font-family:"Time new Rooman","Arial";
	font-size:1.3em;
}
input{
    height:25px;
    width:400px;
	border-color:#FAEFDE;
	border-width:1px;
	font-size:1.3em;
	line-height: 25px;
}

label,input{
	width:50%;
	float:left;
	margin-top: 20px;
	margin-right:-5px; 
	
}
.bouton{
	background-color: #FFEBCD;
	color:rgb(186, 93, 45);
	 border-style: none;
	 width: 300px;
	 height: 30px;
	 font-family:"Time new Rooman","Arial";
	 line-height: 30px;
	 font-size:1.7em;
	border-radius:10px 10px none;
	position: relative;
	 left:350px;
}
.errorlist{
	text-indent: -10000px;
}
     
     ul
{  
     
     
     text-align:center;
    list-style-type: none;
}
 li
{ 
    display: inline-block;
    margin-right:7px;
    text-decoration:none;
    list-style-type: none;
   
  
}
