 
#container{
height:450px;
width:720px;

margin: 20px auto;
position:relative;
}

#img{
height:450px;
width:720px; 
position:absolute;
}
#left_holder{
height:450px;
width:70px;
position:absolute;
left:0px;
top:0px;

}

#right_holder{
height:450px;
width:70px;
position:absolute;
right:0px;
top:0px;

}

.left{
height:50px;
width:50px;
position:absolute;
top:40%;
left:0px; 
}
.right{
height:50px;
width:50px;
position:absolute;
top:40%;
right:0px;
}