
.div_general{
margin-top:-10px;

height:1700 px;

width:100%;

}



.footer{
 background-image:url("Bg_bottom_menu.png");
height:200px;
width:100%

}
.header{
background-image:url("bckg-beige-pattern.png");

width:100%;
height:312px;


}
.top_menu{
height:54px;
background-image:url("bckg-top-menu.png");
position:right;
line-height:22px;
text-align:right;


}

.img_logo{
width:100px;
height:100px;

}
.liens_utilisateurs{
height:146px;
line-height:146px;
text-align:center;
background-color:#fffaf0;
}


.liens_utilisateurs  a {
font-family:"Time new Rooman","Arial";
font-size:1.2em;
color:rgba(110, 66, 60, 1);
}
.liens_utilisateurs_bas a{
font-family:"Time new Rooman","Arial";
font-size:1.2em;

}
.liens_utilisateurs_bas{
height:146px;
line-height:146px;
text-align:center;


}
 nav
 {
 display:inline-block;
text-align:right;

}

nav ul
{  

    list-style-type: none;
}
nav li
{
    text-align:center;
    display: inline-block;
    margin-right: 30px;
	padding-left:20px;
} 
nav a{

color:#FFF;
text-decoration:none;

}
.menu_top{
text-align:center;
list-style-type: none;
text-decoration:none;
line-height:100px;


}
.top_menu_bottom{
background-image:url("Bg_bottom_flash.png");
 height:300px;
}
.titre_page{
font-family:"Time new Rooman","Arial";
font-size:2.0em;
color:rgba(110, 66, 60, 1);
font-weight:bold;
 padding-left:30px;
 height:200px;
}
.image_size{
height:300px;
width:300px;
}
.espace_menu{
height:300px;

}
.menu_top ul
{  

    list-style-type: none;
}
.menu_top li{
display: inline-block;
margin-left:-10px;
 width:150px;

}
.menu_top  a{


font-family:"lucida Handwriting","Arial";
font-size:1.2em;
color:rgba(110, 66, 60, 1);
}
.menu_top li :hover{
color:white;
height:50px;
padding-top:54px;
padding-bottom:45px;
padding-left:40px;
padding-right:40px;
width:150px;
background-image:url("top-menu.png");
line-height:50px;
}



.authetification {
height:60px;
text-align:center;
background-color:rgba(110, 66, 60, 1);
line-height:60px;
}


.taille_images{
width:200px;
height:200px;
}
.photo_promo{
width:auto;
line-height:200px;
text-align:right;

}
.menu_Entres{
height:231px;
background-image:url("bckg-beige-pattern.png");
}
.type_menu{
font-family:"Time new Rooman","Arial";
font-size:2.5em;
color:rgba(110, 66, 60, 1);
text-transform:uppercase;
}
.type_promotion{
font-family:"Time new Rooman","Arial";
font-size:3em;
font-weight:bold;
color:rgba(110, 66, 60, 1);
text-transform:uppercase;

}
.prix_plat {
font-family:"Time new Rooman","Arial";
font-size:2.0em;
color:rgba(110, 66, 60, 1);
}
.nom_plat{
font-family:"Time new Rooman","Arial";
font-style:italic;
font-size:1.8em;
color:rgba(110, 66, 60, 1);
}
.nom_plat_promotion{
font-family:"Time new Rooman","Arial";
font-style:italic;
font-size:1em;
color:rgba(110, 66, 60, 1);
}
.voir_menu {
margin-top:-90px;
margin-left:200px;
height:auto;
background-image:url("_bottom_link.png");
width:241px;
height:58px;
}
.style_text {
line-height:58px;
text-align:right;
list-style-type: none;
text-decoration:none;

font-family:"Time new Rooman","Arial";
font-size:2.5em;
color:white;
text-transform:uppercase;
}
.info_plat{
margin-top:130px;
margin-left:60px;
width:auto;
position:absolute;

}
.position_images{

width:700px;
margin-bottom:-70px;
margin-top:60px;
margin-left:800px;
position:absolute;
}

.tableaux_menu  {
text-align:center;
border-width:40px;
border-color:#FAEFDE;
}

.menu-slide {
line-height:300px;
}
.hauteur_div_menu{
height:300px;
}

.separateur {

color:white;
}

.espace_menu{
background-image:url("bckg-beige-pattern.png");
height:300px;
}
.bienvenue{
text-align:center;
position:relative;
bottom:-70px
}
.bienvenue p{
font-size:1.5em;

}
.lien_promotion{
text-decoration:none;
color:rgb(186, 93, 45);
 

}

.titre_droite{
	text-align: right;
	margin-top:-200px;
    color:red;
    font-size:1.2em;

}
.stye{
	position:relative;;
	top:40px;
color:red;
    font-size:1.2em;

}
.message_user{
	text-align: right;
	position: relative;
	right:30px;
	margin-top:-200px;
	color:black;
	font-size:1.2em; 
}

