﻿{% load staticfiles %}
<!DOCTYPE HTML5 >

<html>
	<head>
	 <meta charset="utf-8"/>
	 <link rel="stylesheet" href="{% static "./CSS/style.css" %}">
	 <link rel="stylesheet" href="{% static "./CSS/main.css" %}">
	 <script src="{% static "./JS/main.js" %}"> </script>
     <title>
	     RestoLakay,le restaurant haitien qui fait de votre gout sa priorite
	      
	 </title>
	
	</head>
 <body onLoad="slideA()">
     <div class="div_general">
	     <header class="header">
		 <div class="top_menu">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/inscrire.html">s'inscrire</a></li>
				<li ><span class="separateur">|</span></li>
		        <li><a href="/Resto_Lakay/login.html">se connecter</a></li>
				<li ><span class="separateur">|</span></li>
                
				<li ><a href="https://www.facebook.com/pages/Resto_Lakay/769549326498781?skip_nax_wizard=true&ref_type=bookmark"/><img src="{% static "Images/icon-fb.png" %}" ></a></li>
		     </ul>
			</nav>
            </div>
		<div class="liens_utilisateurs">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/index.html">Accueil</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/> </li>
				<li><a href="/Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="/Resto_Lakay/reservation.html">Reservations</a></li>

		     </ul>
			</nav>
            </div>
			<p class="titre_page">Bienvenue a <b>R</b><i>esto<i/><b>L</b><i>akay</i></p>
             </header>
		
		
		    
        <div id="container">
		<img src="{% static "Images/img2.png" %}" id="img"/>
      <div id="/left_holder" > <img onClick="slide(1)" src="{% static "Images/arrow_left.png" %}" class="left" /> </div>
	<div id="right_holder"></div> <img onClick="slide(1)"src="{% static "Images/arrow-right.png" %}" class="right"/>
	</div>
		   

          <div class="espace_menu">
		  <div class="bienvenue">
		  <p>
            Resto Lakay est un restaurant qui se situe a la rue romain au numero 26. Resto Lakay est un restaurant</br>
            connu pour la qualit&eacute; des ses nourritures et aussi pour la facon dont nous traitons nos clients.		
	      </p>
		  <p>
		    Pour voir comment nous gatons notre clients, inscrivez vous a notre club et vous allez recevoir </br>les meilleurs
			promotions possible.Pour les reservation, vous pouvez les faire sur notre <a href="/Resto_Lakay/reservation.html" class="lien_promotion">site</span></a> 
			ou nous applez au <span class="lien_promotion">(509)33 522508</span>.</br>
			
		  </p>
		  <p>
		    Bienvenue a Resto Lakay, Apportez votre vin et mangez en famille en toute tranquillit&eacute;.
		  </P>
		  </div>
             </div>
		 
		 <footer class="footer">
         <div class="liens_utilisateurs_bas">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/index.html">Accueille</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/bottom_Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/> </li>
				<li><a href="Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="Resto_Lakay/reservation.html">Reservations</a></li>
				<li><a href="Resto_Lakay/contact.html">Contact</a></li>
		     </ul>
			</nav>
            </div>
		 <div class="authetification"><p>All right Reserved 2015</p></div>

	 </footer>
	 </div>
    </body>
</html>