{% load staticfiles %}
<!DOCTYPE HTML5 >
<html>
<head>
	<title>S'inscrire comme membre de RESTOLAKAY</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="{% static "./CSS/style.css" %}">
	<link rel="stylesheet" href="{% static "./CSS/inscrire.css" %}">
</head>
	<body>
	<div id="div_general">
		<header class="header">
		<div class="div_general">
	     <header class="header">
		  <div class="top_menu">
		    <nav >
		     <ul >
                 <li><a href="/Resto_Lakay/inscrire.html">s'inscrire</a></li>
				<li ><span class="separateur">|</span></li>
		        <li><a href="/Resto_Lakay/login.html">se connecter</a></li>
				<li ><span class="separateur">|</span></li>
                
				<li ><a href="https://www.facebook.com/pages/Resto_Lakay/769549326498781?skip_nax_wizard=true&ref_type=bookmark"/><img src="{% static "Images/icon-fb.png" %}" ></a></li>
		     </ul>
			</nav>
            </div>
		<div class="liens_utilisateurs">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/index.html">Accueil</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/> </li>
				<li><a href="/Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="/Resto_Lakay/reservation.html">Reservations</a></li>

		     </ul>
			</nav>
            </div>
              <div> <p class="titre_page">INSCRIPTION</p>
              {% if user.is_authenticated %}
               <p class="message_user">Bonjour,{{ user.username }}</p>
               {% endif %}
              <section class="titre_droite">
             
              {% if user_existe %}
		<p>ce pseudo existe deja dans la base</p>
		{% elif error %}
		<p>cette forme n'est  pas valide</p>

		{% endif %}
		</section>
</div>
		</header>
         
		<div class="div_inscrire">
		
		{% if user.is_authenticated %}
		<p class="stye">Vous êtes deja connecté <a href="{% url "Resto_Lakay.views.deconnexion"%}">Deconnectez</a>
		 vous pour inscrire une autre personne</p>
         
		{% else %}
		<form action="{% url "Resto_Lakay.views.inscrire"%}" method="post">
		{% csrf_token %}
		{{ form.as_p }}

    <input type="submit" value="m'inscrire" class="bouton" />
		</form>
		{% endif %}
		{{var}}
		</div>
		 <footer class="footer">
        <div class="liens_utilisateurs_bas">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/index.html">Accueil</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/bottom_Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/> </li>
				<li><a href="Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="Resto_Lakay/reservation.html">Reservations</a></li>
				<li><a href="Resto_Lakay/contact.html">Contact</a></li>
		     </ul>
			</nav>
            </div>
		 <div class="authetification"><p>All right Reserved</p></div>

		</footer>

	</div>
	</body>
</html>