{% load staticfiles %}
<!DOCTYPE HTML5 >
<html>
	<head>
	 <meta charset="utf-8"/>
	 <link rel="stylesheet" href="{% static "./CSS/style.css" %}">
	 <link rel="stylesheet" href="{% static "./CSS/login.css" %}">
     
     <title>
	     Connexion
	      
	 </title>
	
	</head>
            <body>
     <div class="div_general">
	     <header class="header">
		  <div class="top_menu">
		    <nav >
		     <ul >
                 <li><a href="/Resto_Lakay/inscrire.html">s'inscrire</a></li>
				<li ><span class="separateur">|</span></li>
		        <li><a href="/Resto_Lakay/login.html">se connecter</a></li>
				<li ><span class="separateur">|</span></li>
               
				<li ><a href="https://www.facebook.com/pages/Resto_Lakay/769549326498781?skip_nax_wizard=true&ref_type=bookmark"/><img src="{% static "Images/icon-fb.png" %}" ></a></li>
		     </ul>
			</nav>
            </div>
		<div class="liens_utilisateurs">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/index.html">Accueil</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/> </li>
				<li><a href="/Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="/Resto_Lakay/reservation.html">Reservations</a></li>

		     </ul>
			</nav>
            </div>

		    <div class="titre_page">
			 <p>CONNEXION<p>
			</div>
                

		 </header>
		
         
             <div class="div_login">
           
		{% if error %}
			<p><strong>Utilisateur inexistant ou mauvais de mot depasse.</strong></p>
		{% endif %}
		{% if user.is_authenticated %}
		Vous êtes connecté, {{ user.username }} !
         <a href="{% url "Resto_Lakay.views.deconnexion"%}">Deconnexion</a>
			{% else %}
				<form method="post" action="{% url "Resto_Lakay.views.login"%}">
				{% csrf_token %}
				{{ form_login.as_p }}
				<input type="submit" class="bouton"/>
				</form>
				{% endif %}

		</div>
		
		 <footer class="footer">
         <div class="liens_utilisateurs_bas">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/index.html">Accueille</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/bottom_Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/></li>
				<li><a href="Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="Resto_Lakay/reservation.html">Reservations</a></li>
				<li><a href="Resto_Lakay/contact.html">Contact</a></li>
		     </ul>
			</nav>
            </div>
		 <div class="authetification"><p>All right Reserved 2015</p></div>

	 </footer>
	 </div>
      </body>
</html>