{% load staticfiles %}
<!DOCTYPE HTML5 >
<html>
	<head>
	 <meta charset="utf-8"/>
	 <link rel="stylesheet" href="{% static "./CSS/style.css" %}">
     <title>
	     RestoLakay,le restaurant haitien qui fait de votre gout sa priorite
	      
	 </title>
	
	</head>
       <body>
     <div class="div_general">
	     <header class="header">
		  <div class="top_menu">
		    <nav >
		     <ul >
                 <li><a href="/Resto_Lakay/inscrire.html">s'inscrire</a></li>
				<li ><span class="separateur">|</span></li>
		        <li><a href="/Resto_Lakay/login.html">se connecter</a></li>
				<li ><span class="separateur">|</span></li>
              
				<li ><a href="https://www.facebook.com/pages/Resto_Lakay/769549326498781?skip_nax_wizard=true&ref_type=bookmark"/><img src="{% static "Images/icon-fb.png" %}" ></a></li>
		     </ul>
			</nav>
            </div>
		<div class="liens_utilisateurs">
		    <nav >
		     <ul >
               <li><a href="/Resto_Lakay/index.html">Accueil</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/> </li>
				<li><a href="/Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="/Resto_Lakay/reservation.html">Reservations</a></li>

		     </ul>
			</nav>
            </div>
			
             <div class="menu_top">
		    <nav >
		     <ul >
                <li><a href="#entres" >Entrés</a></li>
		        <li><a href="#riz" >Riz</a></li>
				<li><a href="#mer" >la Mer</a></li>
				<li><a href="#viandes" >viandes</a></li>

		     </ul>
			</nav>
            </div>

		 </header>
		 
         <div class="hauteur_div_menu" id="entres">
         <div class="info_plat">
             <div class="type_menu" >Entr&eacute;s
             </div>
             <div class="nom_plat" >
                 Pain
             </div>

             <div class="prix_plat">
                 7 <sup>$</sup>
             </div>
             <div class="voir_menu"><a href="/Resto_Lakay/Entres.html" class="style_text">Voir Menu</a>
              </div>
             </div>
             <div>
             <div class="position_images">
             <img   src="{% static "Images/Entres/Garlic-Bread2013rev.png" %}" width="300" height="200"/>
                 </div>
             </div>
         </div>

         <div class="top_menu_bottom" id="riz">
          <div class="info_plat">
             <div class="type_menu" >Riz
             </div>
             <div class="nom_plat" >
                 pates et riz

             </div>

             <div class="prix_plat">
                 7 <sup>80$</sup>
             </div>
             <div class="voir_menu"><a href="/Resto_Lakay/Riz.html" class="style_text">Voir Menu</a>
              </div>
             </div>
             <div>
             <div class="position_images">
             <img   src="{% static "Images/Riz/Riz-creole-pates-et-riz.png" %}" width="300" height="200"/>
                 </div>
             </div>
         </div>

         <div class="hauteur_div_menu" id="mer">
         <div class="info_plat">
             <div class="type_menu" >La mer
             </div>
             <div class="nom_plat" >
                 homard </br>Flamb&eacute;

             </div>

             <div class="prix_plat">
                 7 <sup>$</sup>
             </div>
             <div class="voir_menu"><a href="/Resto_Lakay/Mer.html" class="style_text">Voir Menu</a>
              </div>
             </div>
             <div>
             <div class="position_images">
             <img   src="{% static "Images/Mer/Oma FLambe-banann peze.png" %}" width="300" height="200"/>
                 </div>
             </div>
         </div>
         <div class="top_menu_bottom"id="viandes">
          <div class="info_plat">
             <div class="type_menu" >Viandes
             </div>
             <div class="nom_plat" >
                 viandes </br>hach&eacute;s

             </div>

             <div class="prix_plat">
                 10 <sup>$</sup>
             </div>
             <div class="voir_menu"><a href="/Resto_Lakay/Viandes.html" class="style_text">Voir Menu</a>
              </div>
             </div>
             <div>
             <div class="position_images">
             <img   src="{% static "Images/Viandes/assiette_viandehaché3.png" %}" width="300" height="200"/>
                 </div>
             </div>
         </div>

		
		 <footer class="footer">
         <div class="liens_utilisateurs_bas">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/index.html">Accueille</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/bottom_Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/>  </li>
				<li><a href="Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="Resto_Lakay/reservation.html">Reservations</a></li>
				<li><a href="Resto_Lakay/contact.html">Contact</a></li>
		     </ul>
			</nav>
            </div>
		 <div class="authetification"><p>All right Reserved 2015</p></div>

	 </footer>
	 </div>
       <body>
</html>