{% load staticfiles %}
<!DOCTYPE HTML5 >
<html>
	<head>
	 <meta charset="utf-8"/>
	  <link rel="stylesheet" href="{% static "./CSS/style.css" %}">
     <title>
	     Viandes

	 </title>

	</head>
     <body>
     <div class="div_general">
	     <header class="header">
		 <div class="top_menu">
		    <nav >
		     <ul >
                 <li><a href="/Resto_Lakay/inscrire.html">s'inscrire</a></li>
				<li ><span class="separateur">|</span></li>
		        <li><a href="/Resto_Lakay/login.html">se connecter</a></li>
				<li ><span class="separateur">|</span></li>
               
				<li ><a href="https://www.facebook.com/pages/Resto_Lakay/769549326498781?skip_nax_wizard=true&ref_type=bookmark"/><img src="{% static "Images/icon-fb.png" %}" ></a></li>
		     </ul>
			</nav>
            </div>
		<div class="liens_utilisateurs">
		    <nav >
		     <ul >
                <li><a href="/Resto_Lakay/index.html">Accueil</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/></li>
				<li><a href="/Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="/Resto_Lakay/reservation.html">Reservations</a></li>

		     </ul>
			</nav>
            </div>

		     <p class="titre_page">Viandes</p>
		 </header>
		

     <div class="hauteur_div_menu" >
         <div class="info_plat">

             <div class="nom_plat" >
                Viande Hach&eacute;
             </div>

             <div class="prix_plat">
                 10 <sup>$</sup>
             </div>

             </div>
             <div>
             <div class="position_images">
             <img   src="{% static "Images/Viandes/assiette_viandehaché3.png" %}" width="300" height="200"/>
                 </div>
             </div>
         </div>
         <div class="hauteur_div_menu" >
         <div class="info_plat">

             <div class="nom_plat" >
                 Steack Hach&eacute;
             </div>

             <div class="prix_plat">
                 12<sup>30$</sup>
             </div>

             </div>
             <div>
             <div class="position_images">
             <img   src="{% static "Images/Viandes/assiette_steackhaché2.png" %}" width="300" height="200"/>
                 </div>
             </div>
         </div>
         <div class="hauteur_div_menu" >
         <div class="info_plat">

             <div class="nom_plat" >
                pate cr&eacute;ol</br>
                 a la viande
             </div>

             <div class="prix_plat">
                 3 <sup>90$</sup>
             </div>

             </div>
             <div>
             <div class="position_images">
             <img   src="{% static "Images/Viandes/pate-creole-2.png" %}" width="300" height="200"/>
                 </div>
             </div>
         </div>


		
		 <footer class="footer">
         <div class="liens_utilisateurs_bas">
		    <nav >
		     <ul >
               <li><a href="/Resto_Lakay/index.html">Accueille</a></li>
		        <li><a href="/Resto_Lakay/menu.html">Menu</a></li>
                <li><IMG src="{% static "Images/bottom_Logo_Resto_Lakay.png" %}" alt="logo" class="img_logo"/> </li>
				<li><a href="Resto_Lakay/promotion.html">Promotion</a></li>
				<li><a href="Resto_Lakay/reservation.html">Reservations</a></li>
				<li><a href="Resto_Lakay/contact.html">Contact</a></li>
		     </ul>
			</nav>
            </div>
		  <div class="authetification"><p>All right Reserved 2015</p></div>

	 </footer>
	 </div>
      </body>
</html>